<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Leaderboard</title>
</head>
<body>
<h1>Leaderboard</h1>
<h2>Most Wins</h2>

<table>
  {% for player in players %}
    {% if player['wins'] > 0 %}
        <tr>
            <td>{{ player['name'] }}</td>
            <td>{{ player['wins'] }}</td>
            <td>/</td>
            <td>{{ player['total'] }}</td>
            <td>=</td>
            <td>{{ player['wins']*100//player['total'] }}%</td>
        </tr>
    {% endif %}
  {% endfor %}
</table>
</body>
</html>